.fc button {
    box-sizing: border-box;
    margin: 0;
    height: 2.1em;
    padding: 0 .6em;
    font-size: 10px;
    white-space: nowrap;
}

.fc {
    font-family: 'Roboto', sans-serif !important;
}

.fc h2 {
    color: rgb(11, 57, 84);
    font-weight: 600;
    font-size: 18px;

}

.fc span, .fc-title {
    font-size: 12px;
}

#calendar-container {
    min-height: 85vh;
}

.fc-toolbar.fc-header-toolbar {
    vertical-align: middle;
    margin: 0;
    padding: 5px;
    border-top: 1px solid rgba(11, 57, 84,0.3);
    border-left: 1px solid rgba(11, 57, 84,0.3);
    border-right: 1px solid rgba(11, 57, 84,0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fc-toolbar{
    background: #FFF;
}

.fc-head {
    background: rgba(11, 57, 84, 0.1);
}

.fc-day-header, .fc-day-header span {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    font-size: 14px;
    font-weight: 500;
    color: rgb(11, 57, 84);
}

.fc-highlight-container {
    background-color: rgb(217, 234, 255);
}

.fc-divider {
    display: none !important;
}

.fc-bg { /* kogu tabeli tausta värvus */
    background-color: #FFF;
}

.fc-event { /* sündmuse kujundus */
    border: none;
    background-color: #FBFBFB;
    padding: 0;
    border-radius: 0;
    border-top: 4px solid darkgrey;
    padding-top: 2px;
}

.fc-today {
    background-color: rgb(11, 57, 84);
}

.fc-today span {
    color: #FBFBFB !important;
}

.fc-state-highlight {
    background-color: rgba(11, 57, 84, 0.1) !important;
}

.fc-content {
    display:flex;
    flex-flow: column;
    text-align: center;
}

.fc-content span {
    font-size: 10px;
}

.fc-content div, .fc-time span {
    font-size: 14px;
    font-weight: 600;
}

.fc-content :nth-child(1) { order: 3; }
.fc-content :nth-child(2) { order: 1; }
.fc-content :nth-child(3) { order: 2; }

/* .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: rgb(128, 128, 128);
    opacity:0.3;
}
#lefty {
    width: 700px;
    height: 100%;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
} */