  * {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  .container-fluid, .container {
    padding: 0;
  }

  .container-md {
    /* display: grid; */
    max-width: 680px !important;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left:  10px;
    height: 100vh;
  }

  body {
    background: #FBFBFB;
  }

  footer {
    background: #E0E0E2;
    padding-top: 3rem;
    padding-bottom: 1rem;
    /* height: 9.2vh; */
    overflow: hidden;
    left: 0;
    bottom: 0;

  }

  footer a {
    display: block;
    position: relative;
    margin-top: 30px;
  }

  .link {
    color: #0B3954;
    text-decoration: none;
  }

  .txt-sm {
    font-size: 12px;
  }

  .txt-drkblue {
    color: #0B3954 !important;
  }

  footer a::before {
    position: absolute;
    display:inline-block;
    content: '';
    background-image: url('../img/link-arrow.svg');
    background-size:contain;
    height: 30px;
    width: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -30px;
  }

  input::-webkit-calendar-picker-indicator {
    display: none;
  }

  .form-bg {
    background: #FFF;
    border: 1px solid black;
    /* border-radius: 10px; */
  }

  .arrow {
    background: url('../img/chevron-down-solid.svg') no-repeat 96% / 8% #fff;
  }

  .nav-bg {
    background: rgb(11, 57, 84);
  }

  .bg-image {
    position: relative;
    background-image: url('../img/welcome.jfif');
    background-size: cover;
    background-position: center;
  }

  .lookup-lg {
    min-height: 95vh;
  }

  .logo {
    /* width: 2vw; */
    width: 25px;
  }

  .text-white {
    color: #FBFBFB;
  }

  .form-control {
    text-overflow: ellipsis;
    border-radius: 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
 .intro {
   padding-left:20px;
   padding-right: 20px;
   margin-top: 270px;
   position: absolute;
   background:rgba(0, 0, 0, 0.3); 
   text-align: center;
 }

 .intro span {
   font-size: 60px;
   font-weight: 600;
   color: #FBFBFB;
   line-height: 1.25;

 }

 .btn {
   border-radius: 0;
 }
  
  .form-label-group {
    /* position: relative; */
    margin-bottom: 0.5rem;
  }

  .form-label-group>label {
    display: block;
    width: 100%;
    margin-bottom: 0;
    color: #0B3954;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color:rgb(154, 153, 153);
  }

  /* Fallback for Edge
  -------------------------------------------------- */

  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color:rgb(154, 153, 153);
    }
  }

  /* Fallback for IE
  -------------------------------------------------- */

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: rgb(154, 153, 153);
    }
  }

  .btn-custom {
    background: #1A7AB7;
  }

  /* @media screen and (min-width: 1200px) {
    header, .navbar-brand {
      font-size: 18px;
    }
  } */

  /* @media screen and (max-width: 1199px) {
    header {
      font-size: 16px;
    }
    .navbar-brand {
      font-size: 18px !important;
    }
  }
  @media screen and (max-width: 992px) {
    header {
      font-size: 14px;
    }
    .navbar-brand {
      font-size: 16px !important;
    }
  }
  @media screen and (max-width: 768px) {
    header {
      font-size: 12px;
    }
    .navbar-brand {
      font-size: 14px !important;
    }
    .navbar-toggler {
      font-size: 16px;
      color: white;
    }
    .logo {
      min-width: 4vw !important;
    }
    
    .navbar-header>a {
      margin-left: 4.5vw;
    }
  }
  @media screen and (max-width: 576px) {
    header {
      font-size: 10px !important;
    }
    .navbar-brand {
      font-size: 12px !important;
    }
    .navbar-toggler {
      font-size: 14px;
      color: white;
    }

    .logo {
      min-width: 5vw !important;
    }
    
    .navbar-header>a {
      margin-left: 5.5vw;
    }
  }

  .navbar-toggler {
    font-size: 16px;
    color: white;
  } */

  /* MODAL */

  .modal-backdrop {
    position: fixed;
    top: 37px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: rgb(128, 128, 128);
    opacity:0.3;
}

  .modal.left .modal-dialog {
    top:37px;
		position: fixed;
		margin: auto;
		width: 430px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
  }
  
  .modal.left .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body {
		padding: 15px 15px 80px;
	}